#header_links {
    padding: 0;
    width: auto;
    display: flex;
    list-style: none;
    gap: 20vw;
}

.link-items {
    color: #FFFFFF;
    text-decoration: none;
}

.link-items span {
    cursor: pointer;
}

.link-items span:hover {
    color: #8f8f8f;
    transition: ease-in 0.125s;
}