#header-with-bg {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #030303;
    padding: 1em;
    position: fixed;
    transition: all ease-in 0.25s;
}

#header-wo-bg {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    padding: 1em;
    position: fixed;
    transition: all ease-in 0.25s;
    color: #030303;
}

